
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/systemInfo.css">
    </head>

    <body>

        <div class="Header-Bar">
            <div class="Header-Bar-Wrapper">
                <a class="Header-Bar-Element" href="/">Home</a>
                <a class="Header-Bar-Element" href="/network">Network</a>
                <a class="Header-Bar-Element Header-Bar-Selected" href="/devices">Devices</a>
                <div class="Header-Bar-Highlighter"></div>
            </div>
        </div>

        <%- body %> <!--  loads site page  -->

    </body>

    <footer>
        <script>
            SetHighlighted(<%= tabIndex %>);
        </script>

    </footer>
</html>